# Logs
logs
*.log

# Dependency directories
node_modules/

# startup config files
database/database.sqlite
ecosystem.config.js
ecosystem.config.cjs
config.json

# dependency versions
package-lock.json
